{% extends "base.html" %}
{% load bootstrap_pagination %}

{% block title %}Index - {% endblock %}

{% block content %}
<div class="container">
<div class="page-header">
  <h1>Index</h1>
</div>

<div class="content-index">
  <table>
    <ul>
      {% if word_list %}
        {% for word in word_list %}
        <span class="badge">{{word.occurr}}</span> <a href="{{word.get_absolute_url}}">{{ word.word }}</a><br>
        {% endfor %}
      {% else %}
        {% for word in object_list %}
        <span class="badge">{{word.count}}</span> <a href={% url 'word' title=word.word__word %}>{{word.word__word}}</a><br>
        {% endfor %}
      {% endif %}
    </ul>
  </table>
</div>

<div class="tablePagination">
  {% bootstrap_paginate page_obj range=10 previous_label="Précédent" next_label="Suivant" show_first_last="true" %}
</div>
</div>

{% endblock %}
