{% extends "base.html" %}
{% load my_filters %}
{% load static %}
{% load bootstrap_pagination %}

{% block title %}Recherche - {% endblock %}

{% block content %}
<div class="container">
  <div class="search_results">
    {% if not object_list %}
      <h3>Il n’y a aucun résultat correspondant à la requête.</h3>
    {% endif %}
    {% if object_list %}
      <h3 style="margin-left:50px;">Résultat{{object_list|pluralize}} pour votre requête</h3>
      <div class="content-quotes">
      {% for w in object_list %}
      <div class="well" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop=citation>
          {% autoescape off %}
            {% with quote=w.quote|bold_query:query %}
            {{ quote|quote_links:w.id }}
            {% endwith %}
          {% endautoescape %}
        </span>
        <p style="padding-top: 5px;"><small><a href={{ w.url }}> {{ w.title }}</a>, sur <i>{{ w.url|clean_site }}</i> le {{ w.hour|date:"d F Y" }}.</small></p>
      </div>
      {% endfor %}
      </div>
    {% endif %}
  </div>

  {% if page_obj.has_next or page_obj.has_previous %}
  <div class="tablePagination">
    {% bootstrap_paginate page_obj range=10 previous_label="Précédent" next_label="Suivant" show_first_last="true" %}
  </div>
  {% endif %}
</div>
{% endblock %}
