{% extends "base.html" %}
{% load static %}
{% load bootstrap_pagination %}

{% block title %}Recherche - {% endblock %}

{% block content %}
<div class="container">
  <div class="search_results">
    {% if not suggested_words %}
      <h3>Il n’y a aucun résultat correspondant à la requête.</h3>
    {% endif %}
    {% if suggested_words %}
      <h3 style="margin-left:50px;">{% include "includes/descr.html" %}</h3>
      <div class="suggested_words"  style="column-width: 220px; margin-top:50px;">
      {% for x in object_list %}
        <span class="badge">{{x.occurr}}</span> <a href="{{x.get_absolute_url}}">{{ x.word }}</a><br>
      {% endfor %}
      </div>
    {% endif %}
  </div>

  {% if page_obj.has_next or page_obj.has_previous %}
  <div class="tablePagination">
    {% bootstrap_paginate page_obj range=10 previous_label="Précédent" next_label="Suivant" show_first_last="true" %}
  </div>
  {% endif %}
</div>
{% endblock %}
