{% extends "base.html" %}
{% load static %}


{% block title %}Recherche Avancée - {% endblock %}

{% block content %}

<script type="text/javascript" src={% static "js/advanced_research.js" %}></script>
<div class="container">

  <div class="page-header">
    <h1>Recherche Avancée</h1>
  </div>
  <div class="col-md-6">
    <form class="search-tool" action="search" method="get" style="max-width:400px; margin-top:40px;">
      <h3 style="text-align:center;">Rechercher un mot</h3>
      <div class="search-form">
        {{ searchform.as_p}}
      </div>
      <input type="submit" value="Rechercher un mot" />
    </form>
  </div>
  <div class="col-md-6">
    <form class="search-tool" action="searchquote" method="get">
      <h3 style="text-align:center;">Rechercher un exemple</h3>
      <div class="search-form">
        {{ searchformex.as_p}}
      </div>
      <input type="submit" value="Rechercher un exemple">
    </form>
  </div>
</div>
{% endblock %}
