{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Statistiques - {% endblock %}

{% block content %}
<script type="text/javascript">
function sdf_FTS(_number,_decimal,_separator)
{
var decimal=(typeof(_decimal)!='undefined')?_decimal:2;
var separator=(typeof(_separator)!='undefined')?_separator:'';
var r=parseFloat(_number)
var exp10=Math.pow(10,decimal);
r=Math.round(r*exp10)/exp10;
rr=Number(r).toFixed(decimal).toString().split('.');
b=rr[0].replace(/(\d{1,3}(?=(\d{3})+(?:\.\d|\b)))/g,"\$1"+separator);
r=(rr[1]?b+'.'+rr[1]:b);

return r;
}

setTimeout(function(){
  $('#counter').text('0');
  $('#counter1').text('0');
  $('#counter2').text('0');
  setInterval(function(){

    var curval=parseInt($('#counter').text().replace(' ',''));
    var curval1=parseInt($('#counter1').text().replace(' ',''));
    var curval2=parseInt($('#counter2').text());
    if(curval<{{words}}){
      $('#counter').text(sdf_FTS((curval+20),0,' '));
    } else {
      $('#counter').text(sdf_FTS({{words}},0,' '));
    }
    if(curval1<{{quotes}}){
      $('#counter1').text(sdf_FTS((curval1+50),0,' '));
    } else {
      $('#counter1').text(sdf_FTS({{quotes}},0,' '));
    }
    if(curval2<{{websites}}){
      $('#counter2').text(sdf_FTS((curval2+1),0,' '));
    } else {
      $('#counter2').text(sdf_FTS({{websites}},0,' '));
    }
  }, 2);

}, 500);
</script>
<script type="text/javascript" src={% static "js/stats.js" %}></script>
<div class="container">
  <div class="page-header">
    <h1>Statistiques</h1>
  </div>
  <div class="row">
    <div class="col-md-4 project">
      <div class="col-md-12 well new-words" style="background-color:#CDECE7;">
        <h3 id="counter" value="{{words}}">0</h3>
        <h4>Nouveaux Mots</h4>
      </div>
    </div>
    <div class="col-md-4 project">
      <div class="col-md-12 well examples" style="background-color:#8db7db;">
        <h3 id="counter1" value="{{quotes}}">0</h3>
        <h4>Exemples</h4>
      </div>
    </div>
    <div class="col-md-4 project">
      <div class="col-md-12 well websites" style="background-color:#CEE1FB;">
        <h3 id="counter2" value="{{websites}}">0</h3>
        <h4>Sites Internet</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 project">
      <div class="col-md-12 well urls" style="background-color:#A5CBCF;">
        <h3>{{ unique_visitors|intcomma }}</h3>
        <h4>Visiteurs uniques</h4>
      </div>
    </div>
    <div class="col-md-6 project">
      <div class="col-md-12 well visitors" style="background-color:#F7C9C9;">
        <h3>{{ analyzed_urls|intcomma }}</h3>
        <h4>Pages web analysées</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="class-md-12 well" style="background-color:#dcf1ee">
        <h3 style="text-align:center;">Néologismes populaires</h3>
        <p class="text-center">
          <select class="popular-period text-center" id="selectPeriod">
            <option value="7" selected="selected">7 derniers jours</option>
            <option value="14">14 derniers jours</option>
            <option value="28">28 derniers jours</option>
          </select>
        </p>
        <div class="stats popular-words">
        {% for word in popular_words %}
          <span class="badge">{{word.count}}</span> <a href="{{word.word__word}}">{{ word.word__word }}</a><br>
        {% endfor %}
        </div>
        <p class="text-right"><br><a href="/words/index?show=popular" id="seeMore">Voir plus <i class="fa fa-chevron-right" aria-hidden="true" style="vertical-align: middle;"></i></a></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="class-md-12 well" style="background-color:#b0cde2">
        <h3 style="text-align:center;">Derniers mots apparus</h3>
        <div class="stats latest-words" style="margin-bottom:32px;">
          {% for word in last_new_words %}
            <span class="badge">{{word.occurr}}</span> <a href="{{word.word}}">{{ word.word }}</a><br>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
