{% extends "base.html" %}
{% load my_filters %}
{% load static %}
{% load bootstrap_pagination %}

{% block title %}{{title|title}} - {% endblock %}

      {% block content %}

      <script type="text/javascript" src={% static "js/word.js" %}></script>

      <div class="container">
        <div class="page-header">
          <h1>{{title|title}}</h1>
        </div>
      {% if similar or flexions %}<div class="col-md-9">{% else %}<div class="col-md-12">{% endif %}
      <div class="parameters">
        <div id="box" class="box-param">
          <span id="box-title">Paramètres avancés</span>
          <span id="box-view" style="cursor: pointer">Enrouler ▲</span>
        </div>
        <div id="advanced-param" class="adv-param">
          <form class="word_form" action="{{request.url}}" method="get">
            {{quotesform.as_p}}
            <input type="submit" value="Trier" />
          </form>
        </div>
      </div>

      <div class="content-quotes">
        {% for w in object_list %}
        <div class="well" itemscope="" itemtype="http://schema.org/CreativeWork">
          <span class="text" itemprop=citation>
            {% autoescape off %}
              {{ w.quote.quote|quote_decorator:w.id }}
            {% endautoescape %}
          </span>
          <p style="padding-top: 5px;"><small><a href={{ w.quote.url }}> {{ w.quote.title }}</a>, sur <i>{{ w.quote.url|clean_site }}</i> le {{ w.quote.hour|date:"d F Y" }}.</small></p>
        </div>
        {% endfor %}
      </div>
      <div class="example-count text-right" {% if page_obj.has_next or page_obj.has_previous %}style="color:red;"{% else %}style="color:red;margin-bottom:50px;"{% endif %}>
        <p>{{word|length}} exemple{{word|pluralize}}</p>
      </div>

      {% if page_obj.has_next or page_obj.has_previous %}
      <div class="tablePagination">
        {% bootstrap_paginate page_obj range=10 previous_label="Précédent" next_label="Suivant" show_first_last="true" url_param_view="sort={{ key }}&page=" %}
      </div>
      {% endif %}
      </div>


      {% if flexions or similar %}
      <div class="col-md-3">
      <div class="alt-words text-center">
        {% if flexions %}
        <h4 style="padding:10px;">Flexion{{flexions|pluralize}}</h4>
        <div class="btn-group text-justify" style="margin-bottom:30px;">
        {% for f in flexions %}
          <a href="{{f.get_absolute_url}}"><button type="button" class="btn btn-primary"><span class="badge">{{f.occurr}}</span> {{f.word}}</button></a><br>
        {% endfor %}
        </div>
        {% endif %}
        {% if similar %}
        <h4 style="padding:10px;">Similaire{{similar|pluralize}}</h4>
        <div class="btn-group text-justify" style="margin-bottom:30px;">
        {% for s in similar %}
          <a href="{{s.get_absolute_url}}"><button type="button" class="btn btn-primary"><span class="badge">{{s.occurr}}</span> {{s.word}}</button></a><br>
        {% endfor %}
        </div>
        {% endif %}
      </div>
      </div>
      {% endif %}
      </div>
      {% endblock %}
