+/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('Lato-Regular.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Yesteryear';
  font-style: normal;
  font-weight: 400;
  src: url('Yesteryear-Regular.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
  font-family: Lato;
  background-image: url(../media/brickwall.png);
}

h1 {
  text-align: center;
}

.content-index {
  margin-top:50px;
  column-width: 220px;
}

.tablePagination {
  text-align: center;
  margin-top:30px;
  margin-bottom:50px;
}

.parameters {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.box-param {
  background-color: #90be90;
}

.box-param > span {
  font-size: 15px;
}

#box-title {
  margin-left: 10px;
}

#box-view {
  float: right;
  margin-right: 20px;
}

.adv-param {
  background-color: #b4eeb4;
  padding: 7px;
}

#sort_button {
  margin-left: 5px;
}

#period {
  margin-left: 20px;
}

.content-quotes {
  margin-top: 20px
}

/* Stats page */

.project {
  text-align: center;
}

.parameters {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.stats {
  margin-top: 30px;
  margin-left: 20px;
  column-width: 220px;
}

/* Advanced Search */

.search-tool input {
  float: right;
}

.search-form {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Homepage */

.large-margin-top {
    margin-top: 75px;
}

/* Navbar */

.navbar {
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 768px) {
  .navbar li {
    text-align: center;
  }
  .navbar-header a {
    text-align: center;
    display: inline-block;
    width: 100%;
  }
}
