{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
    <meta name="description" content="La boîte à mots est un aggrégateur qui collecte les mots français non répertoriés apparaissant sur divers blogs ou sites d’actualités.">
    <meta http-equiv="content-type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=n">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <title>{% block title %}{% endblock %}La Boîte à Mots</title>
</head>

<body>
  {% include "includes/navbar.html" %}
  {% block content %}

  {% endblock %}
</body>
