{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>La Boîte à Mots</title>
</head>

<body>
  <style>
  .header {
    background: url({% static "media/entete.jpg" %}) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    padding: 15px;
  }
  .header > h1 {
    position: relative;
    padding-top: 10%;
    color: #ffffff;
    font-size: 52px !important;
    text-align: center;
  }
  .logo {
    font-family: 'Yesteryear', cursive;
    color: #ffffff;
    font-size: 42px !important;
    margin-top: 120px;
  }
  </style>
  <div class="header">
    <span class="logo"> <i class="fa fa-book"></i> La Boîte à Mots</span>
    <h1>Des néologismes pêle-mêle</h1>
  </div>
  {% include "includes/navbar.html" %}
  <div class="container">
    <div class="row large-margin-top text-center">
      <div class="col-md-12">
        <h3><i>La boîte à mots</i> est un aggrégateur qui collecte les mots français non répertoriés apparaissant sur divers blogs ou sites d’actualités.</h3>
      </div>
      <div class="row large-margin-top">
        <div class="col-md-12 text-center" style="margin-bottom:25px;">
          <h1 style="margin-top:50px">Comment ça marche ?</h1>
        </div>
      </div>
      <div class="row margin-top text-center">
        <div class="col-md-4">
          <img class="img-rounded" src="{% static 'media/search.jpeg' %}" alt="Recherche de textes sur internet" height="250" width="250">
          <div class="margin-top text-center" style="margin-bottom:25px;">
            <h3>Recherche<br/>de textes</h3>
          </div>
        </div>
        <div class="col-md-4">
          <img class="img-rounded" src="{% static 'media/analyse.jpeg' %}" alt="Analyse le texte" height="250" width="250">
          <div class="margin-top text-center" style="margin-bottom:25px;">
            <h3>Analyse<br/>des mots</h3>
          </div>
        </div>
        <div class="col-md-4">
          <img class="img-rounded" src="{% static 'media/ciseaux.jpeg' %}" alt="Mise en page" height="250" width="250">
          <div class="margin-top text-center" style="margin-bottom:25px;">
            <h3>Mise en page<br/> des résultats</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row large-margin-top text-center">
      <div class="col-md-12" style="margin-bottom: 25px;">
        Créé par un apprenti pythoniste avec Django, Scrapy, JQuery, Bootstrap et Docker.
      </div>
    </div>
  </div>
</body>
