<nav class="navbar navbar-inverse">
  <div class="container-fluide">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><span class="fa fa-home"></span></a>
    </div>
    <ul class="nav navbar-nav">
      <li {% ifequal request.path "/words/index" %}class="active"{% endifequal %}><a href={% url 'index' %}>Index</a></li>
      <li {% ifequal request.path "/words/advanced_search" %}class="active"{% endifequal %}><a href={% url 'advanced_search' %}>Recherche</a></li>
      <li><a href="/words/random">Mot au hasard</a></li>
      <li {% ifequal request.path "/words/stats" %}class="active"{% endifequal %}><a href={% url 'stats' %}>Statistiques</a></li>
    </ul>
    <form class="navbar-form  navbar-right" action={% url 'search' %} method='get' role="search">
      <div class="form-group navbar-search">
        <input class="form-control" name="q" placeholder="Rechercher un mot" type="search">
      </div>
      <button class="btn btn-default " type="search">Rechercher</button>
    </form>
  </div>
</nav>
